.modal_background {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.70);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_options {
  width: 822px;
  height: 390px;
  flex-shrink: 0;

  width: 822px;
  height: 390px;
  flex-shrink: 0;
  border-radius: 12px;
  background-color: #131313;

  line-height: 0.5;
}

.modal_options h1 {
  margin-top: 30px;
  color: #FFF;

  font-size: 24px;
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

form input {
  width: 287px;
  height: 37px;

  border-radius: 8px;
  border: 0;
  background-color: #292929;

  padding-left: 28px;

  box-sizing: border-box;

  margin-bottom: 25px;

  
  color: #C8C8C8;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.valueAndDate input {
  width: 139px;
  height: 37px;
}

.submit {
  background-color: #266438;

  color: #FFF;

  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  cursor: pointer;

  transition: 400ms;
}

.submit:hover {
  background-color: #2e7f45;
}

form {
  margin-top: 37px;
}