.modal_background {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.70);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_options {
  width: 822px;
  height: 390px;
  flex-shrink: 0;

  width: 822px;
  height: 390px;
  flex-shrink: 0;
  border-radius: 12px;
  background-color: #131313;

  line-height: 0.5;
}